# Google Cloud & API Client Libraries
google-auth>=2.6
google-api-python-client
google-auth-oauthlib
google-cloud-aiplatform
google-cloud-firestore==2.13.1
google-cloud-secret-manager

# Web Scraping
requests>=2.27
beautifulsoup4

# Web Server (Flask App)
Flask==3.0.0
gunicorn==21.2.0

# Utilities
python-dotenv
yt-dlp
